<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("parts/head")%>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     
   <%- include("parts/header")%>

    <div class="search-box">
        <form action="#">
          <input type="text" placeholder="Search..." name="search">
          <button type="submit"><i class="fa fa-search"><a href="Search.html"></a></i></button>
        </form>
    </div>
    <div class="main-content">
        <div class="film-list">
            <div class="col-md-12 outline-div">
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/cartoons/over-the-moon.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="singlepage.html">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span class="rating-active">☆</span>
                            <span class="rating-active">☆</span>
                            <span class="rating-active">☆</span>
                            <span class="rating-active">☆</span>
                            <span class="rating-active">☆</span>
                            <span class="rating-active">☆</span>
                            <span class="rating-active">☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>

                        <div class="yrw">
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>

                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/movies/hunter-killer.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Hunter Killer</a>
                        <p class="dirctr">USA, 2018, 18+</p>                                
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;6/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
    Gerard Butler
    Gary Oldman
    Common
    Linda Cardellini
    Toby Stephens   </p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp; Donovan Marsh</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Action thriller</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 121 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/movies/theatre-dead.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/5.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/cartoons/your-name.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/series/supergirl.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/movies/insidious.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/movies/call.jpg" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>
                <div class="review">
                    <div class="movie-pic">
                        <a href="#"><img src="./images/movies/captain-marvel.png" alt="" /></a>
                    </div>
                    <div class="review-info">
                        <a class="span" href="#">Over the Moon</a>
                        <p class="dirctr">USA, 2020, 6+</p>                             
                        <p class="ratingview"> Average Rating:</p>
                        <div class="rating">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                            <p class="ratingview">
                                &nbsp;7/10  
                            </p>
                        
                        <div class="yrw">
                            <div>                       
                                <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="0">Your rating</option>  
                                    <option value="1">1.Poor</option>
                                    <option value="2">2.(Below average)</option>
                                    <option value="3">3.Average</option>
                                    <option value="4">4.(Above average)</option>
                                    <option value="5">5.Watchable</option>
                                    <option value="6">6.(Good)</option>
                                    <option value="7">7.(Very good)</option>
                                    <option value="8">8.Outstanding</option>
                                    <option value="9">9.Brilliant</option>
                                    <option value="10">10.Oscar</option>
                                </select>
                            </div>
                            <div class="rtm">
                                <a href="#">REVIEW THIS MOVIE</a>
                            </div>
                            <div class="wt">
                                <a href="#">WATCH THIS TRAILER</a>
                            </div>
                        </div>
                        
                        <p class="info">CAST:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cathy Ang
                            Phillipa Soo
                            Ken Jeong
                            John Cho
                            Ruthie Ann Miles
                            Margaret Cho
                            Sandra Oh</p>
                        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;Glen Keane, John Carse</p>
                        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fantasy</p>
                        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; 95 minutes</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
        
    
    <%- include("parts/footer")%>
    

</body>
</html>
