.login {
	display: none;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #181616;
}
form{
	margin-top: 400px;
	margin-left: 700px;
}
#box{
	width: 400px;
	padding: 40px;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #221f1f;
    text-align: center;
}
#box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500; 
}
#box input{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
#box input:focus{
	width: 280px;
	border-color: #c0392b; 
}
#box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #c0392b;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
#box input[type = "submit"]:hover{
	background: #c0392b;
}
a{
	color: white;
}
a:hover{
	color: #c0392b;
}