<div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="#" class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>BA<span class="main-color">na</span>na
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/subs">Subscript</a></li>                     
                        <% if( typeof check != 'undefined') { %>
                        <% if(check == true){ %>
                            <li><a href="/logout"><span>Logout<span></a></li>
                            <li><a href="/profile"><img src="./images/proficon.png" alt="" width="25px" bgcolor="black"></a></li>
                        <% } else { %>
                            <li><a href="/auth" class="btn btn-hover"><span>Join US!<span></a></li>
                        <% } } %>
                    
                </ul>
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>